/* Similar styles than a TextInput, for perfect transition between them when double-clicking to edit. */

.EditableLabelContainer {
  border: 0;
  margin: 0;
  padding: 0;

  height: var(--item-height);
  line-height: var(--item-height);

  display: flex;
  flex-grow: 1;
  min-width: 50px;

  background: transparent;
  border-radius: var(--border-radius);
  font-size: var(--ui-font-size);
  font-weight: var(--ui-font-weight);
  color: var(--primary-text-color);
  text-align: left;
}

.EditableLabel {
  /* We use margin here rather than padding on the parent so that `overflow:
     hidden` also hides text in the margin, like the built-in <input> does. */
  margin: var(--item-padding);
  overflow: hidden;
  user-select: none;
}
