.Canvas {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.CanvasContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* prevent scrollbar on/off flickering caused by the ResizeObserver */
  position: relative;
}
