html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* Note: we need to define font styles here rather than in App.module.css if
   we want the style to also apply to menus and other popovers, since these
   are dynamically added as descendants of <body> but not of <App>.
 */
body {
  margin: 0;
  overflow: hidden; /* Hide scrollbars */
  min-height: 100vh;
  line-height: 1.5;

  font-family: var(--ui-font-family);
  font-weight: var(--ui-font-weight);
  font-size: var(--ui-font-size);
  font-style: normal;
  font-optical-sizing: auto;

  -webkit-subpixel-antialiasing: antialiased;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

:root {
  /* Note: using a font-size in rem (i.e., relative to the 16px default) is
     important for accessibility: it enables users to configure their browser
     to show bigger fonts, without having to actually zoom (which would
     change the font size but also the size of all the other UI elements)
  */

  /* same as in uiFont.ts */
  --ui-font-family:
    Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", ui-sans-serif,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ui-font-weight: 400;
  --ui-font-size: 0.75rem;

  --ui-heading-font-family: var(--ui-font-family);
  --ui-heading-font-weight: 600;
  --ui-heading-font-size: 0.6875rem;

  --primary-background-color: #333333;
  --hovered-background-color: #555555;
  --active-background-color: #4063d5;
  --invalid-background-color: #901a1a;

  /* for use as background of primary-background elements */
  --secondary-background-color: #050505;

  --translucent-background-color: rgba(0, 0, 0, 0.6);

  --primary-text-color: #f9f9f9;
  --secondary-text-color: #999999;
  --tertiary-text-color: #595959;
  --invalid-text-color: #ff4d4f;

  --primary-heading-color: #b3b3b3;

  --padding: 8px;
  --border-radius: 5px;

  --tool-button-size: 32px;
  --toolbar-top: 16px;

  /* Horizontal gap between an icon and text that are on the same line */
  --icon-text-gap: 4px;

  /* This is useful when we want sibling elements to feel like they are
     touching when non-hovered, but still see a tiny gap when both siblings
     have an highlighted and/or background.
   */
  --tiny-gap: 2px;

  /* This is useful when we want the sum of two paddings and/or margins to be
     equal the standard padding.
   */
  --half-padding: calc(var(--padding) * 0.5);

  --item-padding: 0px var(--padding);
  --item-height: 20px;
  --item-border-radius: var(--border-radius);

  --input-background-color: #212121;
}
